.container{
    background-color: rgb(223, 159, 159) !important; 
}

body{
    margin: 50px 300px 300px 300px;
}

.image-container{

    background-color: rgb(20, 22, 22);
}

.flex{
    display: flex;
    background-color: blue;
}
h2{
    text-align: center;
}