<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <title>{% block title %}Vinos{% endblock %}</title>

  </head> 
  <body>
    <div class="container">
      <nav class=" navbar-expand-lg  ">
        <a class="navbar-brand" href="#"
          ><img height="35px" src="{# LOGO #}"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-color active" href="{{ path ("home") }}"
              >Inicio <span class="sr-only">(current)</span></a
            >
            <a class=" nav-color" href="{{ path ("listWine") }}">Vinos</a>
            <a class="nav-color" href="{{ path ("setWine") }}" >Incluir Vino</a>
          </div>
        </div>
      </nav>
     
        </div>
      </div>
      {% block contenido %} {% endblock %}
    </div>
  </body>
</html>
