{% extends "wines/baseWines.html.twig" %}

{% block contenido %}

<h2>Listado Vinos</h2>
<div class="row row-cols-1 row-cols-md-2"  >
  {% for wine in wines %}
  <div class="col mb-4" >
    <div class="card" style="width: 18rem" text-aling="center">
      <img width="25%" src="{{ wine.imagen }}"  />
      <div class="card-body">
        <h5 class="card-title">{{ wine.nombre }}</h5>
        <p class="card-text">D.O: {{ wine.DO }}</p>
        <a href="{{ path ("showWine", {id:wine.id}) }}" class="btn btn-primary">Más Info</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock contenido %}
