{% extends "wines/baseWines.html.twig" %}

    {% block stylesheets %}

      {{ encore_entry_link_tags('app') }}
        
    {% endblock %}

{% block contenido %}

{{ form(wineForm) }}

{% endblock contenido %}

{#{% block contenido %}

  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Nombre</label>
      <input type="text" class="form-control" 
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">D.O</label>
      <input type="text" class="form-control" 
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Ficha</label>
      <input type="text" class="form-control" 
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Maridaje</label>
      <input type="text" class="form-control" 
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Imagen</label>
      <input type="text" class="form-control" 
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>

{% endblock contenido %}#}
